<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: black;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home" style="color: rgb(255, 60, 0);font-weight: 800;">HEALTH TUBE</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" ><a style="color: orange;" href="/home">Home</a></li>
            <li ><a style="color: orange;" href="/delete">End Questions </a></li>
            <li ><a style="color: orange;" href="/logout">Logout</a></li>
            
            
            <li ><a style="color: orange;margin-left: 1054px;" href="#">
            My Account</a></li>
          </ul>
        </div>
      </nav>
</body>
</html>